@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





body {
  background: fixed no-repeat url('/img/magangue2.jpeg');
  background-size: cover;
  background-position: center;
  font-family: 'Raleway', sans-serif; 
}
:root {
  --blanco: white;
  --rojo: red;
  --rojoOpaco: rgba(255, 0, 0, 0.301);
  --negro: black;
  --negroOpaco: #00000057;
  --gris: gray;
  --azulOpaco: #3b5998;
  --negrotransparente:rgba(0, 0, 0, 0.586);
  --azulReik:blue;
  --naranjado:rgba(226, 86, 4, 0.911);
  --blancoTransparente:rgba(255, 255, 255, 0.301);
  --dorado: #755d15;
  --verde:rgb(5, 192, 5);
  --fondoVector:url('/img/fondoVector.jpg')
}

/*navegacion*/

/**/
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--negroOpaco);
  color: #fff;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 120px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
font-weight: 800;
  margin-top: -2rem;
}

.menu li {
  position: relative;
}

.menu a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--negroOpaco);
  width: 150px;
  list-style: none;
}

.submenu li {
  position: relative;
}

.submenu a {
  padding: 0.5rem 1rem;
}

.menu li:hover > .submenu {
  display: block;
}

.menu-icon {
  display: none;
}
#menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  nav{
      position: relative;

  }
  .menu {
    flex-direction: column;
    position: fixed;
    top: 4rem;
    left: -100%;
    background-color: #333;
    width: 100%;
    transition: all 0.5s;
  }

  .menu li {
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  .menu a {
    text-align: center;
  }

  .menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }

  #menu-toggle:checked ~ .menu {
    left: 0;

  }
}

.textoNav{
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 16px;
  text-shadow: 2px 2px 2px rgb(85, 82, 82), -2px -2px 2px rgba(0, 0, 0, 0.514);}





/*seccion  carrusel*/
.imgCarrusel{
  height: 500px;
}

.btnB {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.boton3 {
  margin-bottom: 3px;
  margin-top: 20px;
}

.Item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}



.btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.button-carrusel {
  width: 130px;
  height: 40px;
  border-radius: 12px;
  background: var(--rojo);
  border: 1px solid var(--blanco);
  color: var(--blanco);
  font-weight: 700;
  transition: all 0.5s ease-in;
  margin: 10px;
}


.button-carrusel:hover {
  background: none;
  transform: translatey(-1em);
}





/*Acerca de nosotros*/
.contenedor-padre-acerca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}
.containerAcerca {
  background-image: var(--fondoVector);
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
  margin-top: -4rem;
  

}
.img-acerca {
  width: 40%;
  height: 300px;
  margin-bottom: auto;
  height: 200px;
  
}
.text-acerca {
  width: 50%;
/* box-shadow: 2px 2px 2px var(--gris), -2px -2px 2px var(--azulOpaco); */
}
.titulo {
  text-align: center;
  margin-top: 4rem;
  font-weight: 900;
  color: var(--rojo);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5), -2px -2px 2px rgba(255,255,255,0.5);
}


/*button redes fixed*/

.btn-cssbuttons{
  position: fixed;
  margin-top: 5rem;
  z-index: 5;
 height: 40px;
 display: flex;
 justify-content: center;
}
.redes-fixed{
  display: flex;
  justify-content: center;
z-index: 1;
position: relative;
}
.btn-cssbuttons {
  --btn-color: var(--azulOpaco) ;
  /* position: relative; */
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons span,
 .btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons span {
  transition-delay: 0.05s;
 }
 
 .btn-cssbuttons span:first-child {
  padding-right: 7px;
 }
 
 .btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
 }
 
 .btn-cssbuttons ul {
  /* position: absolute; */
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
 }
 
 .btn-cssbuttons ul li {
  flex: 1;
 }
 
 .btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons ul li a:hover {
  opacity: 0.5;
 }
 
 .btn-cssbuttons:hover::before {
  transform: scale(1.2);
 }
 
 .btn-cssbuttons:hover span,
 .btn-cssbuttons:hover span span {
  transform: translateY(-55px);
 }
 
 .btn-cssbuttons:hover ul li a {
  transform: translateY(0);
 }
 
 .btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
 }
 
 .btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
 }
 
 .btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
 }






/*servicios*/

.container_wrap {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}
.container-Servicios {
 background-image: var(--fondoVector);
  background-size: cover;
  background-position: center;
  margin-top: -4rem;
}
.subtituloServicios {
  color: var(--gris);
  font-weight: 700;
}
.wrap {
  width: 300px;
  text-align: justify;
  padding: 1px;
  transition: all 0.3s ease-in;
  box-shadow: 2px 2px 3px 2px gray;
}
.wrap:hover {
  transform: translateY(-0.5em);
  box-shadow: 2px 2px 3px 2px var(--rojoOpaco);
}


/*progresso*/


.containerFather{
  display: flex;
  justify-content: space-between;
  align-items: center;
 height: 250px;
 overflow: hidden;
}


.circular-progress-container {
  width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}

.circular-progress {
  width: 100px;
  height: 100px;
  position: relative;
  
  
}

.circular-progress-fill {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 50px, 100px, 0);
  background-color: var(--azulOpaco);
 }

.circular-progress-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 100px, 100px, 40px);
  background-color: var(--verde);
  border: 1px solid var(--blanco);
}

.circular-progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight:900;
  color: var(--blanco);
}




/*porque elegirnos*/
.padre-porqueElegirnos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: var(--blanco);
  height: auto;
}
.container-padretext-btn {
  width: 55%;
}
.container-all {
  background: var(--blanco);

}

.container-btnElegirnos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2px;
  
}
.btn-text {
  width: 210px;
  height: 38px;
  border: none;
  background: none;
  color: var(--gris);
}
.btn-textC {
  width: 100px;
  height: 38px;
  border: none;
  background: none;
  color: var(--gris);
}
.btn-textC:hover,
.btn-text:hover {
  border: 1px solid var(--gris);
  color: var(--azulOpaco);
}
.btn-textC:focus,
.btn-text:focus {
  outline: none;
  box-shadow: 0 0 5px blue;
}

.mostrar-texto {
  
  padding: 5px;
  text-align: justify;
  height: auto;

}
.subtitulo{
  text-align: center;
  text-shadow: 2px 2px 2px var(--azulOpaco), -2px -2px 12px var(--dorado);
}
ul .chulo:before {
  content: "\2713";
  color: rgb(16, 102, 148);
  font-weight: bold;
  margin-right: 5px;
  padding: 1px;
}
.chulo{
  list-style: none;
}
.hijo-padre {
  width: 45%;
 
}


.img-hijoPadre{
width: 100%;
}
.btn-text1{
width: 100%;
border: none;
background: none;
height: 35px;
color: var(--gris);

}
.btn-text1:hover{
  color: var(--azulOpaco);
  border: var(--blanco);
  box-shadow: 2px 2px 3px 2px gray;
}

.img-btn-redespq{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    
}

/*Subscribete*/

.padreSubscribete{
height: 400px;
display: flex;
justify-content: center;
background-color: var(--negrotransparente);
}
.Subscribete{
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
width: 720px;
font-family: 'Raleway', sans-serif; 
}
.btn-subscribete{
    text-decoration:none;
    border: 1px solid #e6e0e0;
    width: 250px;
    height: 40px;
    border-radius: 12px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--blanco);
   background-color: var(--azulOpaco);
   margin-top: 1rem;
   font-weight: 400;
   font-size: 18px;
}

.btn-subscribete:hover{
background: var(--blanco);
color: var(--azulOpaco);
font-weight: 700;
}
.titulo-subscribir{
font-size: 35px;
font-weight: 900;
}
.text-subscribir{
  font-weight: 700;
  font-size: 18px;
}

/*Equipo cards*/
.padre-Equipo{
  background-color: var(--blanco);
  height: auto;
  overflow: hidden;
  }

.container-cards{

    display: flex;
  flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
    /* align-items: center; */
    background-color: var(--blanco);
    height: 400px;
}
.card1{
    
    width: 250px;
    height: 320px;
   border-radius: 10px;
   box-shadow: 2px 2px 3px 2px gray;
}



.redes{
background: #b8a7a78c;
height: 250px;
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
z-index: 2;

}
.redes:hover{
    background: var(--negroOpaco);
    opacity: 10;
}
/*iconos de rerdes*/
.bxl-facebook-circle:hover{color:var(--azulReik);}
.bxl-instagram:hover{color: var(--naranjado);}
.bxl-twitter:hover{ color: var(--azulOpaco);

}

.bxl-facebook-circle{color:var(--dorado);}
.bxl-instagram{color: var(--dorado);}
.bxl-twitter{ color: var(--dorado);}

/*imagenes del equipo*/

.container-img-equipo-Jaider{
    width: 100%;
    height: 250px;
    z-index: 1;
    position: relative;
    background-image: url('https://hireline.io/blog/wp-content/uploads/2022/06/programador-autodidacta-950x500.jpg');
background-position: center;
background-size: cover;
border-radius: 10px 10px 0 0 ;
overflow: hidden;
}
.container-img-equipo-Eiber{
    width: 100%;
    height: 250px;
    z-index: 1;
    position: relative;
    background-image: url('https://watermark.lovepik.com/photo/20211201/large/lovepik-programmer-image-picture_501304307.jpg');
background-position: center;
background-size: cover;
border-radius: 10px 10px 0 0 ;
overflow: hidden;
}

.container-img-equipo-Willian{
  width: 100%;
  height: 250px;
  z-index: 1;
  position: relative;
  background-image: url('https://watermark.lovepik.com/photo/20211208/large/lovepik-programmer-image-picture_501623543.jpg');
background-position: center;
background-size: cover;
border-radius: 10px 10px 0 0 ;
overflow: hidden;
}
.container-img-equipo-Jhon{
  width: 100%;
  height: 250px;
  z-index: 1;
  position: relative;
  background-image: url('https://st2.depositphotos.com/1930953/10983/i/950/depositphotos_109834716-stock-photo-young-asian-businessman-working-in.jpg');
background-position: center;
background-size: cover;
border-radius: 10px 10px 0 0 ;
overflow: hidden;
}

.img-equipo{
    width: 100%;
    height: 250px;
}
.tituloE{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 2px;
}
.texto-ocupacion{
    text-align: center;
    font: 18px  raleway;
}



.efecto{
 
  width: 100%;
  height: 250px;
  transition: all 2.5s ease-in;
display: flex;
justify-content: center;
}

.efecto:hover{
  transform: translateY(9em);
}

/*portada Equipo*/

.padre-portada{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: -49px;
}
.img-portada{
  width: 50%;
  background:url('/img/portada-equipo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.container-contactanos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  color: var(--blanco);
  background-color: var(--negroOpaco);
}
.boton-portada{
  text-decoration: none;
  border: 1px solid var(--gris);
  border-radius: 12px;
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
  font-weight: 700;
  font-size: 18px;
}
.boton-portada:hover{
  background-color: var(--azulOpaco);
  color: var(--blanco);
}
.tituloPortada{font-size:18px;
  font-weight: 900;}
  .subtituloPortada{font-size:18px;
  font-weight: 700;}
  
    


/* portafolio */

.todos{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
 background: var(--blanco);
gap: 0.5rem;


}
.img-1{
  width: 300px;
  height: 200px;
  background-image: url();
position: relative;
overflow: hidden;
}

.img-front1{
margin-top: -3rem;
width: 300px;
height: 250px;
left: 0;
position: absolute;
top: 0;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
opacity: 0;
background-color: rgba(13, 121, 27, 0.377);
transition: all 0.3s ease-in;
}

.img-front1:hover{
background-color: rgba(0, 0, 0, 0.699);
color: aliceblue;
opacity: 10;
transform: translateY(0.5em);
}



/*img 2*/
.img-2{
 
  width: 300px;
  height: 200px;
position: relative;
overflow: hidden;
}

.img-front2{
margin-top: -3rem;
width: 300px;
height: 250px;
left: 0;
position: absolute;
top: 0;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
opacity: 0;
background-color: rgba(13, 121, 27, 0.377);
transition: all 0.3s ease-in;
}

.img-front2:hover{
background-color: rgba(0, 0, 0, 0.699);
color: aliceblue;
opacity: 10;
transform: translateY(0.5em);
}


/*img 3*/
.img-3{
  width: 300px;
  height: 200px;
position: relative;
overflow: hidden;
}

.img-front3{
margin-top: -3rem;
width: 300px;
height: 250px;
left: 0;
position: absolute;
top: 0;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
opacity: 0;
background-color: rgba(13, 121, 27, 0.377);
transition: all 0.3s ease-in;
}

.img-front3:hover{
background-color: rgba(0, 0, 0, 0.699);
color: aliceblue;
opacity: 10;
transform: translateY(0.5em);
}


/*img 4*/
.img-4{
  width: 300px;
  height: 200px;
position: relative;
overflow: hidden;
}

.img-front4{
margin-top: -3rem;
width: 300px;
height: 250px;
left: 0;
position: absolute;
top: 0;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
opacity: 0;
background-color: rgba(13, 121, 27, 0.377);
transition: all 0.3s ease-in;
}

.img-front4:hover{
background-color: rgba(0, 0, 0, 0.699);
color: aliceblue;
opacity: 10;
transform: translateY(0.5em);
}


/*img 5*/
.img-5{
  width: 300px;
  height: 200px;
position: relative;
overflow: hidden;
}

.img-front5{
margin-top: -3rem;
width: 300px;
height: 250px;
left: 0;
position: absolute;
top: 0;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
opacity: 0;
background-color: rgba(13, 121, 27, 0.377);
transition: all 0.3s ease-in;
}

.img-front5:hover{
background-color: rgba(0, 0, 0, 0.699);
color: aliceblue;
opacity: 10;
transform: translateY(0.5em);
}


/*img 6*/
.img-6{
  width: 300px;
  height: 200px;
position: relative;
overflow: hidden;
}

.img-front6{
margin-top: -3rem;
width: 300px;
height: 250px;
left: 0;
position: absolute;
top: 0;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
opacity: 0;
background-color: rgba(13, 121, 27, 0.377);
transition: all 0.3s ease-in;
}

.img-front6:hover{
background-color: rgba(0, 0, 0, 0.699);
color: aliceblue;
opacity: 10;
transform: translateY(0.5em);
}

.container-boton{
display: flex;
justify-content: center;
margin-top: 1rem;
padding: 1rem;
gap: 5px;
background-color: var(--blanco);
margin-top: -0.2rem;
}

.boton-portafolio{
  border: 1px solid var(--gris);
  background: none;
  height: 30px;
  border-radius: 12px;
  font-weight: 600;
}

.boton-portafolio:hover{
  background-color: var(--azulOpaco);
  color: var(--blanco);
}

.flex-btn{
  background: var(--blanco);
  padding: 1rem;
  border: 1px solid #000;
}



/*descripcion*/

.padre-descripcion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  height: auto;
  background-color: var(--blanco);
  overflow: hidden;
  
}

.contenedor-tabla{
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gris);
  font-weight: 700;
  padding: 1rem;
  background: var(--blanco);
  margin-top: 50px;
  box-shadow: 2px 2px 2px var(--gris), -2px -2px 2px var(--rojoOpaco);
}
td::before {
  content: "\2713"; /* símbolo de check */
  display: inline-block;
  margin-right: 5px;
  color: var(--azulOpaco);
  font-weight: bold;
}
.texto-titulo{
  display: flex;
justify-content: center;
font-weight: 800;
font-size: 18px;
text-shadow: 2px 2px 2px  var(--negro), -1px -10px 2px var(--azulOpaco);

}
.boton-consultanos{
  border: 1px solid var(--gris);
  width: 160px;
  text-decoration: none;
  border-radius: 12px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: var(--gris);
  color: var(--blanco);
  font-weight: 800;
}
.boton-consultanos:hover{
  background: none;
  color: var(--azulOpaco);
  
}



/*carousel texto*/
.carousel-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: var(--negrotransparente);
}

.carousel-content {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: calc(100% / 3);
  height: 100%;
  font-size: 20px;
  color: var(--blanco);
  text-align: center;
  font-weight: 700;

}



/*pantalla de carga-*/
.loader {
  border: 16px solid #f3f3f3; /* Color de fondo */
  border-top: 16px solid #3498db; /* Color de la animación */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  
}
.containerLoader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 height: 100vh;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*BeneficiosCliente*/
.containerpadre{
  background: var(--blanco);
  height: auto;
overflow: hidden;
}
.containerPadreCards{
display: flex;
justify-content:center;
align-items: center;
gap: 7px;
height: 500px;
}
.containerCard{
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
box-shadow: 2px 2px 2px var(--gris), -2px -2px 2px var(--blanco);
 background-color: var(--azulOpaco);
 color: var(--blanco);
}

.cards1{ 
  transform: skew(20deg);
}
.cards1:hover{ 
  transform: skew(0deg);
}
.cards2:hover{z-index: 2; }

.cards3{   transform: skew(-25deg);}
.cards3:hover{  transform: skew(0deg);}
.img-cards{
  width: 100%;
  height: 160px;
 margin-bottom:auto ;
}
/*cotizacion*/
.containerCotizacion{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: var(--azulOpaco);
  color: var(--blanco);
  height: 150px;
}
.btnCotizar{
  text-decoration: none;
  color: var(--azulOpaco);
  background: var(--blanco);
  border: 1px solid var(--blanco);
  border-radius: 12px;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 16px;
  margin-top: 1rem;

}
.btnCotizar:hover{
  background: none;
  color: var(--blanco);
}


/*contactos*/

.containerPadreConctactos{
  background: var(--blanco);
  overflow: hidden;
}

/*grid* contactos*/


.containerGrid{
  display: grid;
  grid-template-areas: 
       " uno dos tres"
   "cuatro cuatro cinco ";
}
.grid{
  margin: 2px;
  box-shadow: 2px 2px 2px var(--gris);
}
.uno{grid-area: uno;
text-align: center;
padding: 1px;
font-size: 16px;
color: var(--gris)
}
.dos{grid-area: dos;
text-align: center;
padding: 1px;
font-size: 16px;
color: var(--gris)
}
.tres{grid-area: tres;
text-align: center;
padding: 1px;
font-size: 16px;
color: var(--gris)
}
.cuatro{grid-area: cuatro;}
.cinco{grid-area: cinco;
display: flex;
justify-content: center;
}

.formulario{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
margin: 10px;
width: 350px;
height: auto;
}
label{
  font-size: 18px;
  font-weight: 800;
  color: var(--gris);
}
.InputText{
  width:350px ;
  height: 35px;
  border-radius: 5px;
  border: 1px solid var(--azulOpaco);
  text-align: center;
  font-weight: 700;
}
.InputText:focus,.InputText:hover{
  border-color: var(--gris);
}
textarea{
  width: 350px;
  border: 1px solid var(--azulOpaco);
  font-weight: 700;
  text-align: center;
}

.textarea:focus,textarea:hover{
  border-color: var(--gris);
}
span{
  color: var(--gris)
}
.bx-mobile:hover{color: var(--azulOpaco);}
.bx-envelope:hover{color: var(--rojo);}
.bx-map:hover{color: var(--verde);}

/*footer*/
.containerPadreCajaBox{
  display: flex;
  justify-content: center;

background: #c9e7eb23;
}
.cajaBox{
  width: 350px;
margin: 1rem;
margin-top: 5rem;
}

/*derechos reservados*/
.ContainerDerechosReservados{
 
  display: flex;
  justify-content: center;
height:50px;
background: #c9e7eb4f;
}
.DerechosReservados{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.7rem;
  gap: 7px;
}
.bx{margin-top: 0.3rem;}

.iconRedes{
  text-decoration: none;
}
.tituloGeneral,.spanH1Footer{font-size: 25px;font-weight: 600;
  text-shadow: 2px 2px 2px rgb(85, 82, 82), -2px -2px 2px rgba(0, 0, 0, 0.514);}
.span-N{
  color: var(--rojo);
  font-size: 30px;
 
}
.NRojo{  color: var(--rojo);
  font-size: 18px;}
  .txt{margin-top: 2px;}