@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: fixed no-repeat url('/img/magangue2.jpeg');
  background-size: cover;
  background-position: center;
  font-family: 'Raleway', sans-serif; 
 
}
:root {
  --blanco: white;
  --rojo: red;
  --rojoOpaco: rgba(255, 0, 0, 0.301);
  --negro: black;
  --negroOpaco: #00000057;
  --gris: gray;
  --azulOpaco: #3b5998;
  --negrotransparente:rgba(0, 0, 0, 0.586);
  --azulReik:blue;
  --naranjado:rgba(226, 86, 4, 0.911);
  --blancoTransparente:rgba(255, 255, 255, 0.301);
  --dorado: #755d15;
}

/*seccion navegacion y carrusel*/
img {
  height: 500px;
}
/*corousel*/
.center-text {
  border: 1px solid #de16a5;
  width: 850px;
  height: 300px;
  margin-left: -73px;
}
.btnB {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.boton3 {
  margin-bottom: 3px;
  margin-top: 20px;
}

.Item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}
.navegador {
  top: 0;
  left: 0;

  width: 100%;
  height: 130px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 5rem;
  background: var(--negroOpaco);
  margin: 0 auto;
  z-index: 2;
  color: var(--blanco);
  position: fixed;
}

li a {
  color: var(--blanco);
  text-decoration: none;
}
li {
  list-style-type: none;
}
.btn {
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
}
.button-carrusel {
  width: 130px;
  height: 40px;
  border-radius: 12px;
  background: var(--rojo);
  border: 1px solid var(--blanco);
  color: var(--blanco);
  font-weight: 700;
  transition: all 0.5s ease-in;
  margin: 10px;
}
.mg {
  margin-top: 15px;
}

.button-carrusel:hover {
  background: none;
  transform: translatey(-1em);
}

/*Acerca de nosotros*/
.contenedor-padre-acerca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}
.containerAcerca {
  background-color: var(--blanco);
  margin-top: -4rem;
}
.img-acerca {
  width: 40%;
  margin-bottom: auto;
  height: 200px;
  border: 1px solid #000;
}
.text-acerca {
  width: 50%;
  border: 1px solid #000;
}
.titulo {
  text-align: center;
  margin-top: 4rem;
  font-weight: 900;
  color: var(--rojo);
}
.subtitulo {
  color: var(--rojo);
  font-weight: 600;
}

/*servicios*/

.container_wrap {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}
.container-Servicios {
  background-color: var(--blanco);
  margin-top: -4rem;
}
.subtituloServicios {
  color: var(--gris);
  font-weight: 700;
}
.wrap {
  width: 300px;
  text-align: justify;
  padding: 1px;
  transition: all 0.3s ease-in;
  box-shadow: 2px 2px 3px 2px gray;
}
.wrap:hover {
  transform: translateY(-0.5em);
  box-shadow: 2px 2px 3px 2px var(--rojoOpaco);
}

/*progresso*/
.container-progresso {
  border: 1px solid #000;
  background-color: var(--negrotransparente);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
.progressoflex {
  display: flex;
  flex-direction: column;
}
span {
  color: var(--blanco);
  font-weight: 900;
  font-size: 19px;
}

/*porque elegirnos*/
.padre-porqueElegirnos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: var(--blanco);
  border: 1px solid #000;
  height: auto;
}
.container-padretext-btn {
  border: 1px solid #5fab07;
  width: 55%;
}
.container-all {
  background: var(--blanco);
}

.container-btnElegirnos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #9a1818;
  width: 100%;
  gap: 2px;
}
.btn-text {
  width: 210px;
  height: 38px;
  border: none;
  background: none;
  color: var(--gris);
}
.btn-textC {
  width: 100px;
  height: 38px;
  border: none;
  background: none;
  color: var(--gris);
}
.btn-textC:hover,
.btn-text:hover {
  border: 1px solid var(--gris);
  color: var(--azulOpaco);
}
.btn-textC:focus,
.btn-text:focus {
  outline: none;
  box-shadow: 0 0 5px blue;
}

.mostrar-texto {
  text-align: justify;
  border: 1px solid #000;
  height: auto;
}
ul .chulo:before {
  content: "\2713";
  color: rgb(16, 102, 148);
  font-weight: bold;
  margin-right: 5px;
  padding: 1px;
}
.hijo-padre {
  width: 45%;
  border: 1px solid #000;
}
.textoizq-netbtn {
    border: 1px solid #000;
   
}

.img-hijoPadre{
width: 100%;
}
.btn-text1{
width: 100%;
}
.img-btn-redespq{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #000;
}

/*Subscribete*/

.padreSubscribete{
height: 400px;
display: flex;
justify-content: center;
background-color: var(--negrotransparente);
}
.Subscribete{
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
border: 1px solid #ffffff;
width: 720px;
font-family: 'Raleway', sans-serif; 
}
.btn-subscribete{
    text-decoration:none;
    border: 1px solid #e6e0e0;
    width: 250px;
    height: 40px;
    border-radius: 12px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--blanco);
   background-color: var(--azulOpaco);
   margin-top: 1rem;
   font-weight: 400;
   font-size: 18px;
}

.btn-subscribete:hover{
background: var(--blanco);
color: var(--azulOpaco);
font-weight: 700;
}

/*Equipo cards*/
.padre-Equipo{
  background-color: var(--blanco);
  border: 1px solid #000;
  height: auto;
  }

.container-cards{
  border: 1px solid #ebc90e;
    display: flex;
  flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
    /* align-items: center; */
    background-color: var(--blanco);
    height: 400px;
}
.card1{
    
    width: 200px;
    height: 320px;
   border-radius: 10px;
   box-shadow: 2px 2px 3px 2px gray;
}



.redes{
background: #b8a7a78c;
height: 250px;
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
z-index: 2;

}
.redes:hover{
    background: var(--negroOpaco);
    opacity: 10;
}
/*iconos de rerdes*/
.bxl-facebook-circle:hover{color:var(--azulReik);}
.bxl-instagram:hover{color: var(--naranjado);}
.bxl-twitter:hover{ color: var(--azulOpaco);

}

.bxl-facebook-circle{color:var(--dorado);}
.bxl-instagram{color: var(--dorado);}
.bxl-twitter{ color: var(--dorado);}

/*imagenes del equipo*/

.container-img-equipo-Jaider{
    width: 100%;
    height: 250px;
    z-index: 1;
    position: relative;
    /* background-image: url('/img/jaiderr.png'); */
background-position: center;
background-size: cover;
border-radius: 10px 10px 0 0 ;
overflow: hidden;
}
.container-img-equipo-Eiber{
    width: 100%;
    height: 250px;
    z-index: 1;
    position: relative;
    /* background-image: url('/img/eiber.png'); */
background-position: center;
background-size: cover;
border-radius: 10px 10px 0 0 ;
overflow: hidden;
}

.container-img-equipo-Willian{
  width: 100%;
  height: 250px;
  z-index: 1;
  position: relative;
  /* background-image: url('/img/william.jpg'); */
background-position: center;
background-size: cover;
border-radius: 10px 10px 0 0 ;
overflow: hidden;
}
.container-img-equipo-Jhon{
  width: 100%;
  height: 250px;
  z-index: 1;
  position: relative;
  /* background-image: url('/img/jhon.jpg'); */
background-position: center;
background-size: cover;
border-radius: 10px 10px 0 0 ;
overflow: hidden;
}

.img-equipo{
    width: 100%;
    height: 250px;
}
.tituloE{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 2px;
}
.texto-ocupacion{
    text-align: center;
    font: 18px  raleway;
}



.efecto{
 
  width: 100%;
  height: 250px;
  transition: all 2.5s ease-in;
display: flex;
justify-content: center;
}

.efecto:hover{
  transform: translateY(9em);
}

/*portada Equipo*/

.padre-portada{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: -49px;
}
.img-portada{
  border: 1px solid #000;
  width: 50%;
  background:url('/img/portada-equipo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.container-contactanos{
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  color: var(--blanco);
  background-color: var(--negroOpaco);
}


